body {
  background: linear-gradient(#e66465, #9198e5);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.first{
  margin: 10vh;
  text-align: center;
}

.second, .third {
  width: 30%;
}

.third {
  margin: 5vh;
}

input {
  text-align: center;
}

#message-container {
  text-align: center;
}